node_modules/
dist/
build/
.env
.DS_Store
firebase-debug.log
ui-debug.log
.firebase/


# Security
serviceAccountKey.json
# Ignore other likely secret keys
*-credentials.json
# Allow config files
!package.json
!firebase.json
!database.rules.json
!firestore.indexes.json
